body{
  margin:0px;
}
#gjs {
  width:85%;
  height:85vh;
}
.row {
  display: block;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  min-height: 75px;
}
.row-cell {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 5px;
}

.flex {
  display: flex;
}

.generic-background {
  padding:5px;
  width:auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e5d2d2;
}

.generic-iterable-background {
  padding:5px;
  margin:10px;
  width:auto;
  min-height: 75px;
  border: 1px solid black;
  border-radius: 10px;
  background-color:rgb(169, 248, 248);
}

.input {
  padding:5px;
  margin: 5px;
  width:75%;
  height:auto;
  font-size: 16px;
  background-color: white;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding:5px;
  height: auto;
  width:15%;
  min-width:65px;
  color: blue;
  background-color: white;
  padding:5px;
  border-radius: 10px;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.image {
  background-repeat:no-repeat;
  background-size:contain;
}

.cam_on {
  background-image: url("./cam_on.png");
}

.cam_off {
  background-image: url("./cam_off.png");
}

.mic_on {
  background-image: url("./mic_on.png");
}

.mic_off {
  background-image: url("./mic_off.png");
}

.spk_on {
  background-image: url("./spk_on.png");
}

.spk_off {
  background-image: url("./spk_off.png");
}

.mousecursor {
  position: absolute;
  background-repeat:no-repeat;
  background-size:contain;
  background-image: url("./custom-cursor.png");
  z-index: 1;
  width:20px;
  height:20px;
}

.mousecursorid{
  position: relative;
  opacity: 0;
}

.mousecursorid:hover{
  opacity: 100;
}

.button:hover {
  color: white;
  background-color: blue;
}

.videocontainer{
  min-width: 175px;
  width:5%;
  display:inline-block;
  border:1px solid black;
}

.video-off{
  background-color: black;
  width:175px; 
  height:131.25px;
}

.webrtc-button{
  min-width:20px;
  min-height:20px;
  display:inline-block;
  background-color:aqua;
  border-radius: 1px;
  margin:2px;
}

.username{
  display:inline-block;
  font-size: 12px;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar-container {
  width: 200px;
  justify-content: flex-start;
  padding: 10px;
  background-color: #444;
}

.page-container {
  width: 90%;
  justify-content: space-between;
  margin: 5px;
  background-color: #afafaf;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.page-container-selected {
  width: 90%;
  justify-content: space-between;
  margin: 5px;
  background-color: #efefef;
  padding: 5px;
  border-radius: 5px;
}

.add-page-btn {
  margin: 5px 5px 15px 5px;
  width: 90%;
  height: 35px;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #ddd;
  font-weight: 700;
  &:hover{
    filter: brightness(70%);
  }
}

.add-page-modal {
  display: none;
  position: absolute; 
  z-index: 99;
  padding-top: 100px;
  left: 50;
  top: 50;
  width: 98.8vw; 
  height: 95vh; 
  overflow: auto; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.add-page-modal-open {
  display: block;
}

.add-page-modal-closed {
  display: none;
}

.add-page-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 390px;
}

.add-page-form {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.add-page-form label {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.add-page-form input {
  width: 90%;
  height: 25px;
  font-size: 16px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  &:hover {
    background-color: #b8303053;

  }
}