body{
  margin:0px;
}

.flex-col-1{
  width:100%;
  display:flex;
  align-items: center;
}

.flex-col-5{
  width:19%;
  margin:auto;
  display:flex;
  align-items:center;
}

/* Top navbar css */
.top-navbar{
  min-height:50px;
  background-color: gray;
  justify-content: space-between;
}

.button-transition{
  transition: background-color 0.5s;
}

.add-web-button{
  min-width: 75px;
  aspect-ratio: 2/1;
  padding: 0px;
  background-color: rgb(183, 183, 183);
  color: black;
  border-radius: 5px;
  background-image: url('./add.png');
  background-repeat: no-repeat;
  background-size:contain;
}

.button-transition:hover{
  background-color: rgb(108, 108, 108);
}

.username-font{
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}

.website-name{
  font-family:'Times New Roman', serif;
  font-size: 20px;
}

/* Websites display css */
.websites-display{
  justify-content: flex-start;
  width:100%;
  flex-wrap:wrap;
}

.website{
  min-width: 19%;
  aspect-ratio: 4/1;
  border: 1px solid black;
  justify-content: space-evenly;
}

.website-go{
  min-width:50px;
  aspect-ratio: 1/1;
  background-image: url('./go.png');
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 5px;  
}

.website-share{
  min-width:50px;
  aspect-ratio: 1/1;
  background-image: url('./share.png');
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 5px;
}

.website-delete{
  min-width:50px;
  aspect-ratio: 1/1;
  background-image: url("./delete.png");
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 5px;
}