body{
  margin:0px;
}

.flex-col-1{
  width:100%;
  display:flex;
  align-items: center;
}

.flex-col-5{
  width: 350px;
  margin:20px;
  display:flex;
  align-items:center;
}

/* Top navbar css */
.top-navbar{
  min-height:50px;
  background-color: gray;
  justify-content: right;
}

.button-transition{
  transition: background-color 0.5s;
}

.add-web-button{
  min-width: 40px;
  aspect-ratio: 3/1;
  padding: 5px;
  background-color: rgb(183, 183, 183);
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

}

.add-web-button-img{
  min-width: 75px;
  min-height: 40px;
  padding: 0px;
  background-color: rgb(183, 183, 183);
  color: black;
  border-radius: 5px;
  background-image: url('./add.png');
  background-repeat: no-repeat;
  background-size:contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-transition:hover{
  background-color: rgb(108, 108, 108);
}

.button-transition:hover .add-web-button-img{
  background-color: rgb(108, 108, 108);
}

.username-font{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.website-name{
  font-family:'Times New Roman', serif;
  font-size: 10px;
}

/* Websites display css */
.websites-display{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:auto;
  flex-wrap:wrap;
  margin: 50px;
}

.website{
  min-width: 19%;
  aspect-ratio: 6/1;
  border: 1px solid black;
  justify-content: space-evenly;
}

.website-go{
  min-width:30px;
  aspect-ratio: 1/1;
  background-image: url('./go.png');
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 5px;  
}

.website-share{
  min-width:30px;
  aspect-ratio: 1/1;
  background-image: url('./share.png');
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 5px;
}

.website-delete{
  min-width:30px;
  aspect-ratio: 1/1;
  background-image: url("./delete.png");
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 5px;
}

.website-add-user{
  min-width:40px;
  aspect-ratio: 1/1;
  background-image: url("./add_user.png");
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 5px;
}

.website-remove-user{
  min-width:40px;
  aspect-ratio: 1/1;
  background-image: url("./remove_user.png");
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 5px;
}

.sign-out {
  height: 40px;
  min-width: 100px;
  margin: 10px 40px;
  background-color: rgb(253, 131, 131);
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: rgb(150, 0, 0);
    filter: brightness('75%');
  }
}

.overlay{
  position:fixed;
  top:0px;
  opacity:0.9;
  background-color: black;
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.share-menu{
  justify-content: flex-start;
  opacity:1;
  margin:auto;
  position:absolute;
  background-color: white;
  padding:20px;
  width:auto;
  height:auto;
  display:flex;
  border-radius: 10px;
}

.user-field{
  padding:5px;
  font-size:20px;
}



.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}